<app-header />

<main>
  <ul id="users">
    <li>
      <app-user
        [user]="users[0]"
        (selectUserEvent)="onSelectedUser($event)"
      />
    </li>
    <li>
      <app-user
        [user]="users[1]"
        (selectUserEvent)="onSelectedUser($event)"
      />
    </li>
    <li>
      <app-user
        [user]="users[2]"
        (selectUserEvent)="onSelectedUser($event)"
      />
    </li>
    <li>
      <app-user
        [user]="users[3]"
        (selectUserEvent)="onSelectedUser($event)"
      />
    </li>
  </ul>
    <app-tasks [name]="selectedUser ? selectedUser.name : 'Unknow'"/>
</main>
